@charset "utf-8";

.box-1 {
  width: 80px;
  height: 80px;
  background: pink;
}

.box-2 {
  width: 80px;
  height: 80px;
  background: skyblue;
}

.box-3 {
  width: 80px;
  height: 80px;
  background: orange;
}