@charset "utf-8";


body {
  margin: 0;
}

p {
  background-color: pink;
  margin: 0;
}

.container {
  width: 400px;
  margin: 32px auto 0;
  border: 8px solid blue;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.box-2 {
  width: 100px;
  height: 50px;
  background-color: skyblue;
  position : absolute;
  top: 16px;
  right: 16px;
}

.box-3 {
  width: 100px;
  height: 100px;
  background-color: orange;
}