@charset "utf-8";

body {
  margin: 0;
}

section {
  background: pink;
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 16px - 16px);
}

h1 {
  margin: 0;
  background: skyblue;
}

p {
  margin: 0;
  background: orange;
}